<h2><%= @item.name %></h2>

<p>Name: <%= @item.name() %></p>
<p>Cost: <%= @item.cost %></p>
<p>Vendor: <%= @item.vendor_id%></p>
<p>Category: <%= @item.category_id%></p>

<a href="/items/<%= @item.id %>/edit">Edit</a>
<form action="/items/<%= @item.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
